<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registrar Cliente</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form>
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input type="text" class="form-control" />
    </div>
    <div class="mb-3">
      <label class="form-label">Teléfono</label>
      <input type="tel" class="form-control" />
    </div>
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" />
    </div>
    <ion-button expand="full" color="success">Guardar</ion-button>
  </form>
</ion-content>
