<ion-tabs color="primary">
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="products" routerLink="/tuercas/products">
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inventory" routerLink="/tuercas/inventario/list">
      <ion-label>Inventario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sales" routerLink="/tuercas/sales/list">
      <ion-label>Ventas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="purchases" routerLink="/tuercas/purchases">
      
      <ion-label>Compras</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="customer" routerLink="/tuercas/customer/list">
      <ion-label>Customer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="suppliers" routerLink="/tuercas/suppliers">
      <ion-label>Proveedores</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
