<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="products" href="/tuercas/products">
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inventory" href="/tuercas/inventory">
      <ion-label>Inventario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sales" href="">
      <ion-label>Ventas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="purchases" href="/tuercas/purchases">
      
      <ion-label>Compras</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="customers" href="/tuercas/customers">
      <ion-label>Customers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="suppliers" href="/tuercas/suppliers">
      <ion-label>Proveedores</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
