<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>CLIENTES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <ion-breadcrumbs>
    <ion-breadcrumb href="/tuercas/home"><ion-icon slot="start" name="home"></ion-icon>Home</ion-breadcrumb>
    <ion-breadcrumb href="/tuercas/customer/list">Clientes</ion-breadcrumb>
    </ion-breadcrumbs>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start m-3">
      <button type="button" class="btn btn-warning" (click)="create()">Nuevo Cliente</button>
    </div>
  <ion-list lines="none">
    <ion-item *ngFor="let customer of customers" class="ion-align-items-start">

      <ion-avatar slot="start">
        <img src="https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg?semt=ais_hybrid&w=740" />
      </ion-avatar>

      <ion-label>
        <h2>{{ customer.first_name }}</h2>
        <p>Email: {{ customer.email }}</p>
        <p>Teléfono: {{ customer.phone }}</p>

        <div class="d-flex mt-2 gap-2">
          <ion-button size="small" color="tertiary" (click)="edit(customer)">Editar</ion-button>
          <ion-button size="small" color="primary" (click)="view(customer)">Ver</ion-button>
          <ion-button size="small" color="danger" (click)="delete(customer)">Eliminar</ion-button>
        </div>
      </ion-label>

    </ion-item>
  </ion-list>

</ion-content>