<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Tuercas y Tornillos S.A</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tuercas/products">Productos</ion-button>
      <ion-button routerLink="/tuercas/inventario/list">Inventario</ion-button>
      <ion-button routerLink="/tuercas/sales/list">Ventas</ion-button>
      <ion-button routerLink="/tuercas/purchases">Compras</ion-button>
      <ion-button routerLink="/tuercas/customer/list">Clientes</ion-button>
      <ion-button routerLink="/tuercas/customer/list">profile </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
