<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path
      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
  </symbol>
</svg>
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ product.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <ion-breadcrumbs>
    <ion-breadcrumb href="/tuercas/home"> <ion-icon slot="start" name="home"></ion-icon>Home</ion-breadcrumb>
    <ion-breadcrumb href="/tuercas/products">Productos</ion-breadcrumb>
  </ion-breadcrumbs>
  @if (success) {
  <div class="alert alert-success d-flex align-items-center top-0 end-0 m-4" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
      <use xlink:href="#check-circle-fill" />
    </svg>
    <div>
      Producto Actualizado
      {{message}}
    </div>
  </div>
  }
  <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start m-3">
      <button type="button" class="btn btn-warning" (click)="enabled=false">Editar</button>
      <button type="button" class="btn btn-black" (click)="enabled=true">Cancel</button>
    </div> -->
  <div class="px-4 py-5 px-md-4 text-center text-lg-start">
    <div class="container">
      <form [formGroup]="newProduct">
        <div class="row align-items-start">

          <div class="col-md-6 mb-4">
            <div class="row">
              <div class="col-md-6 mb-3 ">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="name" [(ngModel)]="product.name" />
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label">Precio Unitario</label>
                <input type="number" class="form-control" formControlName="price" [(ngModel)]="product.price" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label class="form-label">Stock</label>
                <input type="number" class="form-control" formControlName="stock" [(ngModel)]="product.stock" />
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label">Proveedor</label>
                <input type="text" class="form-control" formControlName="idProveedor"
                  [(ngModel)]="product.idProveedor" />
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Descripción</label>
              <textarea class="form-control" rows="6" formControlName="descripcion"
                [(ngModel)]="product.descripcion"></textarea>
            </div>

            <div class="mb-3">
              <label class="form-label">Url de la imagen</label>
              <input type="text" class="form-control" rows="6" formControlName="imageUrl"
                [(ngModel)]="product.imageUrl" />
            </div>

            <ion-button expand="block" color="success" [disabled]="!enabled"
              (click)="updateProduct()">Guardar</ion-button>
          </div>


          <div class="col-md-6 d-flex align-items-center justify-content-center mb-4">
            <img [src]="product.imageUrl" class="img-fluid rounded shadow" style="max-height: 400px;"
              alt="imagen del producto">
          </div>

        </div>
      </form>
    </div>
  </div>
</ion-content>