<ion-content [fullscreen]="true" class="ion-padding"
  style="--background: url('../../../assets/background.jpg') no-repeat center/cover;">

  <div style="display: flex; justify-content: center; align-items: center; min-height: 100% ">

    <ion-card class="ion-padding ion-text-center  " style="width: 100%; max-width:600px; border-radius: 20px;">
      <h1 class="ion-margin-top" style="font-size: 30px; color: #000000">Tuercas y Tornillos S.A.</h1>
      <ion-card-header>
        <ion-card-title>Iniciar Sesión</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm">

          <ion-item>
            <ion-input type="text" formControlName="username" label="Username"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" label="Password" formControlName="password">
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-checkbox slot="start" checked></ion-checkbox>
            <ion-label>Recordarme</ion-label>
          </ion-item>

          <ion-button expand="block" class="ion-margin-top" (click)="login()">
            Iniciar sesión
          </ion-button>

        </form>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>