<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start m-2 fw-bold">
      <ion-title>HOME</ion-title>
      <ion-label slot="start" class="ion-text-uppercase p-3" (click)="profile()">Hola ! {{currentUser?.name}} </ion-label>
      <ion-button color="danger" id="delete" (click)="logout()">Logout</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-breadcrumbs>
    <ion-breadcrumb href="/tuercas/home"> <ion-icon slot="start" name="home"></ion-icon>Home</ion-breadcrumb>
  </ion-breadcrumbs>
  <h1 class="ion-text-capitalize ion-padding" >Bienvenido a Tuercas y Tornillos {{currentUser?.name}}</h1>

<ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card button  color="danger" routerLink="/tuercas/products">
          <ion-card-header>
            <ion-icon name="cube-outline" size="large"></ion-icon>
            <ion-card-title>Productos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Gestiona inventario y stock.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card button color="warning" routerLink="/tuercas/sales/list">
          <ion-card-header>
            <ion-icon name="cash-outline" size="large"></ion-icon>
            <ion-card-title>Ventas</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Revisa y registra ventas.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card button color="primary" routerLink="/tuercas/customer/list">
          <ion-card-header>
            <ion-icon name="people-outline" size="large"></ion-icon>
            <ion-card-title>Clientes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lista y gestiona clientes.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card button color="success" style="filter: blur(2px);" (click)="reportes()">
          <ion-card-header>
            <ion-icon name="bar-chart-outline" size="large"></ion-icon>
            <ion-card-title>Reportes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Estadísticas de ventas y stock.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Resumen del día</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="cart-outline" slot="start"></ion-icon>
          <ion-label>Ventas hoy: <strong>{{totalVentas  }}</strong></ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="cube-outline" slot="start"></ion-icon>
          <ion-label>Productos en stock: <strong>{{totalStok}}</strong></ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="alert-circle-outline" slot="start" color="warning"></ion-icon>
          <ion-label>Productos bajos en stock: <strong>10</strong></ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
