<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>INVENTARIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    
    <ion-breadcrumbs>
      <ion-breadcrumb href="/tuercas/home">
        <ion-icon slot="start" name="home"></ion-icon>Home
      </ion-breadcrumb>
      <ion-breadcrumb href="/tuercas/inventario/list">Inventario</ion-breadcrumb>
    </ion-breadcrumbs>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start m-3">
      <button type="button" class="btn btn-success" (click)="createProduct()">Nuevo Producto</button>
      <button type="button" class="btn btn-success">Nuevo Proveedor</button>
    </div>

    <ion-list [inset]="true" lines="full">
      <ion-item *ngFor="let p of products" (click)="productDetail(p.id)">
        <ion-label>
          <h3>{{ p.name }}</h3>
          <p>ID: {{ p.id }}</p>
          <p>Stock: {{ p.stock }}</p>
        </ion-label>
        <ion-note slot="end" color="medium">{{ p.price }} $</ion-note>
      </ion-item>
    </ion-list>
  </div>
</ion-content>